{% extends 'blog/base_full_width.html' %}



{% block main_area %}



<h1>필터 (Filter)</h1>
<a href="/post_Gaussian/"><h4>가우시안 필터 (Gaussian Filtering)</h4></a>
<a href="/post_median/"><h4>미디안 블러 (MedianBlur)</h4></a>
<a href="/post_equalizeHist/"><h4>히스토그램 평활화 (Histogram Equalized)</h4></a>
<a href="/post_pyrMeanShift/"><h4>평균이동필터 (pyrMeanShiftFiltering)</h4></a>


</br>
<h1>객체인식 (Object detection)</h1>
<a href="/post_canny_edge/"><h4>케니 에지 (Canny Edge)</h4></a>
<a href="/post_cont_hire/"><h4>컨투어_계층 (Contour hierarchy)</h4></a>

<a href="/post_OBJ/"><h4>배경제거 (Remove background)</h4></a>






{% endblock %} 

{% comment %} {% block main_area %}{% endblock %} {% endcomment %}
