{% extends 'blog/base_full_width.html' %}

{% block main_area %}

<body>
    
    <img id='img_main' style='max-width:500px' style='max-height:500px' src="https://dummyimage.com/500x500/ffffff/000000.png&text=Image" onClick = 'getGrid()'/>
    {% comment %} <input type="file" id="inputImage" style='display: none'> 
                     <form action=" " method="post" enctype="multipart/form-data" id="inputImage" style='display: none' >
                        {% csrf_token %}
                        <input type="file" name="인풋_파일업로드">
                        <input type="submit" value="등록하기">
                        </form>
    {% endcomment %}


    <form method="post" enctype="multipart/form-data" action="image_upload/" id="fileForm">
        {% csrf_token %}
        <label></label> <input type="file" name="file">
        <button type="submit" class="btn btn-dark my-4" id="inputImage" style='display: none' >Upload</button>
    </form>


    <div>
        <!-- <button class='btn' style='background-color: #041E2D'  onClick='simple_event()'><h6 style='color: #FFFFFF'>Upload</h6></button> -->
        <button class='btn' style='background-color: #041E2D'  onClick='ImgUpload()'><h6 style='color: #FFFFFF'>Upload</h6></button>
        
    </div>
    <div class="form-group">
        <label for="form-input-hierarchy">hierarchy:</label><input type="range" name="hierarchy" class="form-control" id="form-input-hierarchy" ,min="0" max="4" value="0" required>
        <button type="submit" class="btn btn-primary"  onClick='submitResult()'>Change</button>
    </div>
    
    <span>
        <form action="./result/" method="post" onsubmit="">
            <!-- {% csrf_token %} -->
            <div class="form-group">
                <label for="form-input-mode">Contour hierarchy</label>
            </div>
            <!--<button type="submit" class="btn btn-primary" >Change</button>-->
        </form>
    </span>

  
</body>

<script type="text/javascript">

    var path_DataMap = "";
    var path_folder = '';
    var path_file = '';

    var img_width = -1;
    var img_height = -1;

    var li_x = [];
    var li_y = [];


    function simple_event() {
        const img = new Image();
        alert('hello javascript')
    }

        
    function submitResult() {

        
        let ajax = {}
        ajax.type = 'post';
        ajax.url = "/result_cont_hire/";
        ajax.data = JSON.stringify({'path':path_folder,'file':path_file,'hierarchy':$('#form-input-hierarchy').val()})
        ajax.dataType = 'json';
        ajax.csrf = '{{ csrf_token }}';
        ajax.success = function(data) { ajaxSuccess(data); };
        ajaxReady(ajax); 
        return false;
        
    }

    
    function ajaxSuccess(data) {
        path = data.path.substring(4,data.path.length);
        $('#img_main'). attr('src',path+"?"+new Date().getTime());
    }
    
    jQuery(document).ready(function($) {
        // bind form using ajaxForm
        $('#fileForm').ajaxForm({
            dataType:  'json',
            resetForm: true,    
            success:   Success_getImage
        });
    });

    function Success_getImage(data){
        //alert(data.path.substring(4,data.path.length))
        path = data.path +data.name
        path = path.substring(4,path.length);
        $('#img_main'). attr('src',path);
        path_folder = data.path;
        path_file = data.name;
    }

    function ImgUpload(){
        $('#inputImage').click()
    }
</script>


{% endblock %} 
