{% extends 'blog/base_full_width.html' %}

{% block main_area %}

<body>
    
    <img id='img_main' style='width:1000' style='height:1000' src='/static/blog/image/QuteBird.jpg' onClick = 'getGrid()'/>
    <div>
        <button class='btn' style='background-color: #041E2D'  onClick='simple_event()'><h6 style='color: #FFFFFF'>Upload</h6></button>
        <button class='btn' style='background-color: #041E2D'  onClick='submitResult()'><h6 style='color: #FFFFFF'>Set OBJ</h6></button>
        <button class='btn' style='background-color: #041E2D'  onClick='OBJ_get()'><h6 style='color: #FFFFFF'>Get OBJ</h6></button>

    </div>
    <span>
        <form action="./result/" method="post" onsubmit="">
            <!-- {% csrf_token %} -->
            <div class="form-group">
                <label for="form-input-mode">OBJ</label>
            </div>
            <!--<button type="submit" class="btn btn-primary" >Change</button>-->
        </form>
    </span>

  
</body>

<script type="text/javascript">

    var path_DataMap = "";
    var path_folder = 'blog/static/blog/image/';
    var path_file = 'QuteBird.jpg';

    var img_width = -1;
    var img_height = -1;

    var li_x = [];
    var li_y = [];


    function simple_event() {
        const img = new Image();
        alert('hello javascript')
    }

        
    function submitResult() {

        
        let ajax = {}
        ajax.type = 'post';
        ajax.url = "/result_setOBJ/";
        ajax.data = JSON.stringify({'path':path_folder,'file':path_file})
        ajax.dataType = 'json';
        ajax.csrf = '{{ csrf_token }}';
        ajax.success = function(data) { ajaxSuccess(data); };
        ajaxReady(ajax); 
        return false;
        
    }

    
    function ajaxSuccess(data) {
        

        path = data.path.substring(4,data.path.length);
        path_DataMap = data.DataMap;
        $('#img_main'). attr('src',path+"?"+new Date().getTime());
        
    }

    function OBJ_get(){  
        
        
        let ajax = {}
        ajax.type = 'post';
        ajax.url = "/result_getOBJ/";
        ajax.data = JSON.stringify({'grid_x':li_x,'grid_y':li_y,'dataMap':path_DataMap,'path':path_folder,'file':path_file});
        ajax.dataType = 'json';
        ajax.csrf = '{{ csrf_token }}';
        ajax.success = function(data) { Success_OBJ_get(data); };ajaxReady(ajax);
        li_x = []
        li_y = []
        
    }


    function Success_OBJ_get(data){
        path = data.path.substring(4,data.path.length);
        $('#img_main'). attr('src',path+"?"+new Date().getTime());
        
        //alert(data.path);
    }

    function getGrid(){
        li_x.push(event.offsetX)
        li_y.push(event.offsetY)
    }

    function PrintGrid(){
        var result = "Click Grid\n"

        result +=  li_x +'\n\n' + li_y
        alert(result)

        li_x = []
        li_y = []
       
    }

</script>


{% endblock %} 
